@use "sass:math";

// imports fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
// 
// All variables
// 

// color palette
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$background: rgb(128, 128, 128);

// fonts
$title-font: Shrikhand;
$default-font: Roboto;

// shadows
$default-shadow: 0px 0px 15px rgb(216, 214, 214);

// all purpose bold class, makes text bold
.bold {
    font-weight: 600;
}

// button class used in multiple pages
.omf-button {
    color: white;
    margin: 1em 0 3em 0;
    padding: 0 1em;
    height: 3em;
    border-radius: 2em;
    font-family: $default-font;
    font-size: 1.1em;
    border-style: none;
    background: linear-gradient(170deg, $secondary, $primary);
    // display and align items used to center the text on the button
    align-items: center;
    justify-content: center;
    display: flex;
    // for larger resolutions
    max-width: 13em;
}

// setting up the font-family for the entire website
* {
    font-family: $default-font;
}

// 0 margin on the body to allow more flexibility with margins and backgrounds in children
body {
    margin: 0;
}

// this class removes underlines and blue/purple color on links
a {
    text-decoration: none;
    color: black;
}

// 
// animation keyframes

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes floaty {
    0% { transform: translate(0, 0.5em)}
    100% {transform: translate(0, 0)}
}

@keyframes slide-check {
    0% {width: 0%}
    100% {width: 15%}
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

// functions allowing the card animations to be delayed 
// depending on their nth-of-type -- the first card is animated first
// then the second and so on

@for $i from 1 through 10 {
    #entrées div.dish-card:nth-of-type(#{$i}) {
        animation-delay: #{math.div($i, 5)}s;
    }
}

@for $i from 1 through 4 {
	#main-course div.dish-card:nth-of-type(#{$i}) {
		animation-delay: #{math.div((4+$i), 5)}s;
    }
}

@for $i from 1 through 4 {
	#desserts div.dish-card:nth-of-type(#{$i}) {
		animation-delay: #{math.div((8+$i), 5)}s;
    }
}



header {
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    box-shadow: $default-shadow;
    // added position to put this header above the #location div
    // to get shadow to display
    position: relative;
    
    img {
        width: 50%;
        // for larger resolutions
        max-width: 20em;
    }

    .fa-arrow-left {
        position: absolute;
        left: 1.2em;
        top: 1.2em;
        font-size: 1.25em;
        color: black;
    }
}

#location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: $default-font;
    height: 60px;
    background-color: lighten($background, 40%);

    // these position relative and absolute are used
    // to allow the city name h4 to be centered on the screen
    // and the icon to be on the left of the h4 with a margin of 20px
    // needs javascript to make the left parameter a function of h4 size to adapt to different city names
    i {
        position: relative;
        left: -85px;
    }

    h3 {
        position: absolute;
        justify-content: center;
        font-weight: 500;   
    }
}

#explore {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $default-font;
    text-align: center;
    background-color: lighten($background, 45);

    h1 {
        padding: 0 10vw;
        font-size: 1.6em;
        margin: 2em 0 0 0;
    }

    h4 {
        font-weight: 400;
        font-size: 1.1em;
        margin: 1em;
    }

}

#howto {
    margin: 3em 1em;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0 0 1em 0.25em;
        align-items: start;
    }

    .card {
        display: flex;
        align-items: center;
        // max width added for larger resolutions
        max-width: 600px;
        border-radius: 1em;
        box-shadow: $default-shadow;
        margin: 1em;
        padding: 0.5em 0;
        

        h3 {
            font-size: 1.1em;
            width: 70vw;
            // for larger resolutions
            max-width: 20em;
        }

        i {
            font-size: 1.4em;
            color: lighten($background, 5);
            margin-left: 0.3em;
        }

        // this hover state allows for both the background of the card to turn light primary color
        // and the icon to turn primary color
        &:hover {
            background-color: lighten($primary, 35);

            i {
                color: $primary;
            }
        }
    }

    .circle {
        width: 30px;
        height: 30px;
        // position and left used to push the circle to the outside of the div
        position: relative;
        left: -15px;
        border-radius: 50%;
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    i {
        margin-right: 1em;
    }
}

#restaurants {
    padding: 3em 1em;
    background-color: lighten($background, 45);

    .card {
        border-radius: 1em;
        margin: 2em 0;
        box-shadow: $default-shadow;
        position: relative;

        img {
            width: 100%;
            height: 12em;
            object-fit: cover;
            // object-position: center bottom;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
        }
        
        .descriptor {
            @import "heart_style";
            display: flex;
            justify-content: space-between;
            // this makes our heart sit a little higher on the div
            align-items: flex-end;
            width: 100%;

            .descriptor-text {
                margin: 1em 0;

                h2 {
                    margin: 0 1rem;
                    font-size: 1.3em;
                }
                h3 {
                    margin: 0 1rem;
                    font-weight: 400;
                }
            }
        }

        .new-tag {
            position: absolute;
            right: 5%;
            top: 5%;
            background-color: rgb(152, 225, 207);
            color: rgb(10, 142, 111);
            font-weight: 600;
            padding: 0.5em 1em;
            border-radius: 0.25em;
        }
    }
}

footer {
    padding: 0.5em 1em 2em 1em;
    background-color: rgb(63, 63, 63);
    color: white;
    
    #footer-logo {
        img {
            width: 40%;
            max-width: 300px;
            filter: invert(100%);
            margin: 1em 0em;
        }
    }

    .footer-element {
        display: flex;
        align-items: center;

        i {
            margin-right: 1em;
        }

        p {
            margin: 0.25em 0;
        }
    }
}

// 
// 
// 
// 
// 
// This is the css for the menu pages

#menu-image {
    width: 100vw;

    .big-picture {
        // try to find a way to make it work for larger resolutions
        height: 256px;
    }

    img {
        width: 100%;
        object-fit: cover;
    }
}

#menu {
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    padding: 0.5em 1.5em 0.5em 1em;
    background-color: lighten($background, 45);
    margin-top: -3.5em;
    position: relative;
    max-width: 700px;
    display: flex;
    flex-direction: column;


    #menu-title {
        @import "heart_style";
        display: flex;
        align-items: center;
    }

    #menu-title h1 {
        font-family: $title-font;
        font-size: 1.6em;
        font-weight: 400;
    }

    #menu-title i {
        margin-top: 0.6em;
        padding-right: 1em;
        font-size: 1.5em !important;
    }

    button {
        margin: 2em auto;
        padding: 0 3em;
    }

}

// this styles all course titles on the menus
// adds short underline under the text
.course-title {
    h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2em;
    position: relative;

        &:before{
            content: "";
            position: absolute;
            width: 15%;
            bottom: -0.2em;
            left: 0;
            border-bottom: 4px solid lightgreen;
        }
    }
}

#dish-cards {
    margin-bottom: 3em;
}

.dish-card {
    background-color: white;
    border-radius: 1em;
    margin: 1em 0;
    animation-name: fade-in, floaty;
	animation-fill-mode: both;
	animation-duration: 0.5s;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: hidden;

        .unchecked {
            width: 100%;
        }

        .dish-description {
            display: flex;
            justify-content: space-between;
            margin-right: 0.5em;
        }

        h2, p {
            margin: 0.2em 0.75rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        h2 {
            font-size: 1.1em;
            margin-top: 0.75em;
        }

        p {
            font-size: 0.89em;
            margin-bottom: 0.75em;
            margin-right: 1em;
        }

        p.bold {
            text-overflow: clip;
        }

        .checked {
            display: none;
            
        }

        &:hover {
            .unchecked {
                max-width: 80%;
                margin-right: 0;
            }

            h2 {
                width: 210px;
            }

            p.bold {
                min-width: 2em;
            }

            .checked {
                display: flex;
                background-color: rgb(152, 225, 207);
                width: 15%;
                align-items: center;
                justify-content: center;
                border-top-right-radius: 1em;
                border-bottom-right-radius: 1em;
                animation-name: slide-check;
                animation-duration: 0.5s;
    
                .fa-check-circle {
                    color: white;
                    font-size: 1.2em;
                    animation-name: spin;
                    animation-duration: 0.5s;
                    overflow-x: hidden;
                }
                
            }
        }
        
}

#order {
    display: flex;
    justify-content: center;
    background-color: lighten($background, 45);

    button {
        padding: 0 3em;
    }
}

// 
// 
// 
// 
// some desktop specific css 
@media screen and (min-width: 900px) {

    header {
        .fa-arrow-left {
            font-size: 2em;
            top: 0.9em;
        }
    }

    #howto {
        align-items: center;
    }

    #restaurants {
        
        .section-title {
            text-align: center;
        }

        #restaurant-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            max-width: 1000px;
            justify-content: space-evenly;
            margin-left: auto;
            margin-right: auto;

            .card img {
                min-width: 450px;
            }
        }
    }

    footer {
        text-align: center;

        .footer-element {
            justify-content: center;
        }
    }

    #menu-image {
        // this allows the footer to always be under the menu section
        min-height: 1350px;
        background-color: lighten($background, 10);
        
        img {
            // max height to fit the menu card
            max-height: 1400px;
        }
        .big-picture {
            // removes the height restriction used for mobile screens
            height: 100%;
        }
    }

    #menu {
        margin: auto;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        // text-align: center;
        top: 10em;
        border-radius: 3em;

        button {
            position: sticky;
            bottom: 2em;
            margin-left: auto;
            margin-right: auto;
            padding: 0 5em;
            z-index: 1000;
        }
    }

    #order {
        
        overflow-x: hidden;
        padding: 100px;

        div {
            padding: 10vh 100vw;
            background-color: lighten($background, 25);
        }
    }

    footer {
        position: relative;

    }
}



