/* Error: Expected digit.
 *    ,
 * 96 | $j: document.getElementById('entrées').getElementsByClassName('dish-card');
 *    |                                        ^
 *    '
 *   sass\style.scss 96:40  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected digit.\a    \2577 \a 96 \2502  $j: document.getElementById('entrées').getElementsByClassName('dish-card');\d\a    \2502                                         ^\a    \2575 \a   sass\\style.scss 96:40  root stylesheet";
}
